.App {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
}

.App footer {
  max-width: 800px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin: 16px auto;
}

.App footer a {
  color: rgb(0, 128, 128);
  text-decoration: none;
  transition: all ease-in-out 150ms;
}

.App footer a:hover {
  color: rgb(0, 102, 102);
  text-decoration: underline;
}

.Weather {
  margin: 30px auto;
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 16px 16px 30px;
}

.Weather form {
  margin-top: 15px;
  margin-bottom: 20px;
}

.Weather .button {
  background-color: rgb(0, 128, 128);
  border: 1px solid rgb(0, 153, 153);
  color: rgb(255, 255, 255);
  transition: all ease-in-out 150ms;
}

.Weather .button:hover {
  background-color: rgb(0, 153, 153);
  border: 1px solid rgb(0, 175, 175);
  color: white;
}

.WeatherUI h1 {
  color: rgb(0, 175, 175);
  text-align: center;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  margin: 40px 0 0;
}

.WeatherUI .time {
  color: rgba(133, 164, 174, 0.6);
  text-align: center;
  font-size: 16px;
  margin: 0 0 28px;
}

.WeatherUI canvas {
  margin-top: 20px;
}

.WeatherUI .temperature {
  font-size: 68px;
  font-weight: bold;
  color: rgb(0, 175, 175);
  margin-left: 10px;
}

.WeatherUI .unit {
  margin-top: 18px;
  margin-left: 5px;
  font-size: 20px;
  color: rgba(0, 175, 175, 0.9);
}

.WeatherUI .unit a {
  color: rgb(47, 79, 79);
  text-decoration: none;
  transition: all ease-in-out 100ms;
}

.WeatherUI .unit a:hover {
  text-decoration: underline;
  color: rgb(100, 130, 140);
}

.WeatherUI ul {
  margin: 0;
  padding: 0;
}

.WeatherUI li {
  color: rgba(133, 164, 174, 0.7);
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
}

@media (max-width: 580px) {
  .Weather .button {
    margin: 10px 0 0;
  }

  .WeatherUI .time {
    margin-bottom: 35px;
  }

  .WeatherUI .temperature {
    font-size: 54px;
  }

  .WeatherUI canvas {
    margin-top: 10px;
  }

  .WeatherUI .unit {
    margin: 10px 0 0 2px;
  }

  .WeatherUI ul {
    text-align: center;
    margin-top: 20px;
  }
}
